<app-header [showCloseButton]="true" [headerInfo]="session"></app-header>
<div class="finish__container">
  <div class="finish__title">¡Tu CDT digital ha sido creado exitosamente!</div>
  <div class="forms__container">

      <div class="finish__subtitle">Tu CDT digital</div>
      <div class="finish__box">
        <div class="finish__box--stamp"></div>
        <span>Al vencimiento de tu CDT consignaremos en tu cuenta:</span>
        <span>$2.067.200</span>
      </div>
  </div>
</div>
<app-footer></app-footer>
