<p>bonita-case works!</p>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<h1>ZGW NU Ng Bonita Test</h1>
<b>bonitaCaseService: </b><i>{{ bonitaCaseService | json }}</i>
<div *ngIf="bonitaCaseService.isAuthorized">file-upload-test here!</div>
<div *ngIf="bonitaCaseService.isAuthorized">bpm-process-test is here!</div>
<div *ngIf="bonitaCaseService.caseId">bpm-case-test is here!</div>
<div *ngIf="bonitaCaseService.caseId">bpm-activity-test is here!</div>
<div *ngIf="bonitaCaseService.caseId">bpm-human-task-test is here!</div>
<div *ngIf="bonitaCaseService.caseId">bpm-task-test is here!</div>
<div *ngIf="bonitaCaseService.taskId">bpm-user-task-test is here!</div>
<div *ngIf="bonitaCaseService.caseId">bpm-data-test is here!</div>
<div *ngIf="bonitaCaseService.uploadedDocFile">bpm-document-test is here!</div>
<div *ngIf="bonitaCaseService.taskId">bdm-test is here</div>
