* {
  font-size: 62.5%;
  font-family: "Baloo 2";
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  height: 4rem;
}

button:disabled {
  background-color: darkgrey;
  cursor: not-allowed;
}

.login {
  &__title {
    background-color: #05377b;
    color: white;
    font-size: 2.5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
  }

  &__form {
    display: flex;
    font-size: 1.6rem;
    height: 30rem;
    justify-content: center;
    margin-top: 2rem;

    .logo {
      background-image: url("/assets/images/banco-de-bogota.png");
      background-repeat: no-repeat;
      background-size: 30rem;
      height: 40rem;
      width: 30rem;
    }

    & > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 300px;

      & > input {
        align-self: center;
        font-size: 1.5rem;
        height: 40px;
        margin-bottom: 2rem;
        padding: 0 0 0 1rem;
        width: 250px;
      }

    }
  }

  &__button {
    align-self: center;
    display: flex;
    height: 25px;
    justify-content: flex-end;
    width: 250px;

  }
}


