<app-header [showBackButton]="true" [showCloseButton]="true" [headerInfo]="session"></app-header>

<div class=forms__container>
  <div class="forms__title">{{task.displayName}}</div>
  <div class="forms__form">
    <form #cdtForm="ngForm" (ngSubmit)="onSubmit(cdtForm)" class="form">
      <div *ngIf="acceptCdt" class="forms__subtitle">Descripción de tu inversión*</div>
      <div *ngIf="!acceptCdt" class="forms__subtitle">Ingresa tu inversión*</div>
      <input [class.hide]="acceptCdt" name="amount" id="amount" type="number" class="form-control"
             placeholder="Monto a invertir" [(ngModel)]="model.amount"
             [readOnly]="acceptCdt">

      <div *ngIf="acceptCdt" class="forms__info">
        <span>Monto a invertir</span>
        <span><span>$</span>{{model.amount}}</span>
      </div>

      <input [class.hide]="acceptCdt" name="term" id="term" type="number" placeholder="Plazo (Días)"
             [(ngModel)]="model.term" [readOnly]="acceptCdt" required>

      <div *ngIf="acceptCdt" class="forms__info">
        <span>Plazo</span>
        <span>{{model.term}}<span> Días</span></span>
      </div>

      <input *ngIf="acceptCdt" name="rate" id="rate" type="hidden" placeholder="Taza"
             [(ngModel)]="model.rate" readonly required>

      <div *ngIf="acceptCdt" class="forms__percentage">
        <span>Tasa fija E.A</span>
        <span>{{model.rate_string}}<span>%</span></span>
      </div>

      <div class="forms__form--terms">
        <input *ngIf="acceptCdt" name="accept" id="accept" type="checkbox" [(ngModel)]="model.accept">
        <div *ngIf="acceptCdt">Aceptas las condiciones para solicitar la creación del CDT - Digital</div>
      </div>

      <div class="forms__button" [class.forms__button--accept]="model.accept">
        <button id="cdt-button" type="submit" class="button" [disabled]="!cdtForm.valid">
          <span *ngIf="!acceptCdt">Solicita tu CDT</span>
          <span *ngIf="!model.accept && acceptCdt">Rechazar Creación de CDT</span>
          <span *ngIf="model.accept">Solicitar Creación de CDT</span>
        </button>
      </div>
      <div class="forms__warning">*Los valores descritos son una aproximación y no representan una oferta comercial
        definitiva por parte del Banco de Bogotá.
      </div>
    </form>
  </div>
</div>
<!--<pre>{{ this.model | json }}</pre>
<pre>{{ cdtForm.value | json }}</pre>-->

<app-footer></app-footer>
